<h2 >
   <%= gravatar_for @user %>
   <%= @user.username %>
</h2>
<%= @user.email %>
<p>
  <%= link_to "Edit Profile", edit_user_registration_path %>
</p>

<hr>
<h2>
   To Do Lists
</h2>

<div class='new-list'>
  <%= render partial: 'lists/form' %>
</div>
<div class='js-lists'>
  <%= render partial: 'lists/lists' %>
</div>